<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.coachforge.creative</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/aaronhopkins/coachforge-marketing-team/automation/run-job.sh</string>
    <string>creative</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key><integer>1</integer>
    <key>Hour</key><integer>6</integer>
    <key>Minute</key><integer>30</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/aaronhopkins/coachforge-marketing-team/automation/logs/launchd-creative.out</string>
  <key>StandardErrorPath</key>
  <string>/Users/aaronhopkins/coachforge-marketing-team/automation/logs/launchd-creative.err</string>
</dict>
</plist>
